# Secrets
.env
.env.local
apps/web/.env.local
services/api/.env

# Backups/Logs
*.bak
*.log

# Build/Cache
.next/
dist/
build/
out/
coverage/
.turbo/
.cache/
.vercel/

# Monorepo-spezifisch
services/api/dist/
packages/shared/dist/

# Dependencies
node_modules/
**/node_modules/

